.LoginForm-input:focus {
    border-color: #D5A6BD !important;
    box-shadow: 0 0 0 0.2rem rgba(213, 166, 189, 0.5) !important;
}

.LoginForm-button {
    background-color: #D5A6BD;
    border-color: #D5A6BD;
    color: #212121;
}

.LoginForm-button:hover,
.LoginForm-button:active, 
.LoginForm-button:focus {
    color: #212121;
    background-color: #c88ca9 !important;
    border-color: #c88ca9 !important;
}